@using PagedList
@using PagedList.Mvc

@model IEnumerable<EntityLayer.Concrete.Blog>
    @{ string Color = "";


    }

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-12">
                <h2>Post Listesi</h2>
            </div>
        </div>
        <div class="row">
            @foreach (var x in Model)
            {
                switch (x.Category.CategoryName)
                {
                    case "Yazılım":
                        Color = "post-category text-white bg-info mb-3";
                        break;
                    case "Teknoloji":
                        Color = "post-category text-white bg-secondary mb-3";
                        break;
                    case "Seyahat":
                        Color = "post-category text-white bg-warning mb-3";
                        break;
                    case "Spor":
                        Color = "post-category text-white bg-danger mb-3";
                        break;
                    case "Film & Dizi":
                        Color = "post-category text-white bg-success mb-3";
                        break;
                }
                <div class="col-lg-4 mb-4">
                    <div class="entry2">
                        <a href="single.html"><img src="@x.BlogImage" alt="Image" style="height:250px" class="img-fluid rounded"></a>
                        <div class="excerpt">
                            <span class="@Color">@x.Category.CategoryName</span>
                            <h2><a href="/Blog/BlogDetails/@x.BlogID"> @x.BlogTitle</a> </h2>
                            <div class="post-meta align-items-center text-left clearfix">
                                <figure class="author-figure mb-0 mr-3 float-left"><img src="@x.Authors.AuthorImage" alt="Image"  class="img-fluid"></figure>
                                <span class="d-inline-block mt-1"><a href="#">@x.Authors.AuthorName</a></span>
                                <span>&nbsp;-&nbsp; @(((DateTime)x.BlogDate).ToString("dd-MMM-yyyy"))</span>
                            </div>
                            <p>@x.BlogContent.Substring(0,x.BlogContent.Substring(0,200).LastIndexOf(" "))...</p>
                            
                            <p><a href="#">Devamını Oku</a></p>
                        </div>
                    </div>
                </div>
            } 
        </div>
    </div>
</div>
@Html.PagedListPager((IPagedList)Model,page=>Url.Action("Index",new {page}))